{% extends "ELBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Commande des tickets  {% endblock %}

{% block body %}
<div class="jumbotron" id="banner">
    <img src="{{asset('Images/louvre_banner.jpg')}}">
</div>

    <h1 id="modify_title">Modifier le billet</h1>

    {% for key,ticket in modify %}
    <div class="col-sm-5" id="ticket_to_modify">
        <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>Porteur du billet</th>
                <th>Valable le</th>
                <th>Type de billet</th>
                <th class="pricing_type">Prix du billet</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ticket.name }} {{ ticket.surname }}</td>
                <td>{{ ticket.date }}</td>
                <td>{{ ticket.timeAccessType }} ,{{ ticket.priceType }}</td>
                <td class="pricing_type">{{ ticket.price }} €</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modify_form col-sm-5">
    {{ form_start(ticket_form)}}
    <div class = "form-group">
        {{ form_label(ticket_form.name) }}
        {{ form_widget(ticket_form.name) }}
        <span class ="form_errors">{{ form_errors(ticket_form.name) }}</span>
        <span class="invalid_name" style="display: none">Le prénom doit être composé de 3 caractères minimum</span>
        <input type="hidden" id="mod_name" value="{{ ticket.name }}">
    </div>
    <div class = "form-group">
        {{ form_label(ticket_form.surname) }}
        {{ form_widget(ticket_form.surname) }}
        <span class ="form_errors">{{ form_errors(ticket_form.surname) }}</span>
        <span class="invalid_surname" style="display: none">Le nom doit être composé de 3 caractères minimum</span>
        <input type="hidden" id="mod_surname" value="{{ ticket.surname }}">
    </div>
    <div class = "form-group" title="Format de la date : jj-mm-aaaa">
        {{ form_label(ticket_form.dob) }}
        {{ form_widget(ticket_form.dob) }}
        <span class ="form_errors"> {{ form_errors(ticket_form.dob) }}</span>
        <input type="hidden" id="mod_dob" value="{{ display_dob }}">
    </div>
    <div class = "form-group">
        {{ form_label(ticket_form.time_access,'Type de ticket') }}
        {{ form_widget(ticket_form.time_access) }}
        <input type="hidden" id="mod_time_access" value="{{ ticket.timeAccessType }}">
        <input type="hidden" id ="time" value="{{ app.session.get('full_day_ticket') }}">
    </div>
    <div class = "form-group">
        {{ form_label(ticket_form.discount) }}
        {{ form_widget(ticket_form.discount) }}
        <input type="hidden" id="mod_discount" value="{{ ticket.discount }}">
    </div>
    <div class = "form-group" id="modify_actions">
        <button type="submit"  class="add btn btn-primary" id="mod_submit">Valider les modifications</button>
        <a class="btn btn-warning" id="quit_mod" href="{{path('reservation_billetterie')}}">Retour à la commande</a>
        {{ form_end(ticket_form) }}
    </div>
    {{ form(ticket_form) }}
</div>
    {% endfor %}
{% endblock %}
