{% extends "ELBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil billetterie {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="col-sm-6 offset-sm-3 success">{{ flashMessage }}
            <a href="{{ path('accueil_billetterie') }}" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    {% endfor %}
    <div class="parallax">
        <div id="title">
            <div>
                <h1>Bienvenue sur la billetterie du Louvre</h1>
                <a href="#info_pricing" id="anchor_home"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-12" id="top_layer">
        <div>
            <h2 id="intro_title">Rendez vous avec l'histoire au coeur de Paris</h2>
        </div>
        <div class="intro col-sm-12">
            <div class="intro_text">
                <p> Vivamus ac lorem sollicitudin, dignissim dui in, finibus mauris. Praesent quis arcu id ligula pretium sollicitudin. Praesent sagittis, diam fermentum porttitor euismod, turpis sapien rutrum ipsum, at venenatis nisl libero ac nibh. Sed in nibh quis justo tincidunt ullamcorper.
                    Morbi elementum, nisi et viverra congue, nibh tortor posuere neque, nec sollicitudin ipsum tellus vel nunc. Nulla facilisi. Fusce condimentum sem eget odio blandit, nec molestie nulla
                    Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore. Meministi enim profecto, Attice, et eo magis, quod P.
                    Sulpicio utebare multum, cum is tribunus plebis capitali odio a Q. Pompeio, qui tum erat consul, dissideret, quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella.</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet nunc erat, sit amet lobortis ante eleifend at. Nam vitae massa viverra,
                    luctus risus eu, tincidunt nisl. Vestibulum viverra nibh in imperdiet finibus. Donec malesuada semper arcu, sit amet convallis lacus placerat in.
                    Nam consequat, eros in sollicitudin varius, leo quam pulvinar mauris, in tincidunt felis magna vel lectus. Mauris posuere mauris eu blandit molestie. Nullam non tempus odio.
                    Suspendisse faucibus hendrerit porta. Curabitur tincidunt semper luctus. Duis eu ullamcorper ipsum.
                    Aliquam tristique dolor ante. Nulla ac massa consequat, semper metus.</p>
            </div>
        </div>
    </div>

        <div class="info col-sm-6" id="info_pricing">
            <h2 id ="pricing_title">Tarifs du musée</h2>
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Conditions</th>
                        <th class="pricing_type">Journée</th>
                        <th class="pricing_type">1/2 Journée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Normal</td>
                        <td>A partir de 12 ans</td>
                        <td class="pricing_type">16 €</td>
                        <td class="pricing_type">8 €</td>
                    </tr>
                    <tr>
                        <td>Enfant</td>
                        <td>A partir de 4 ans et jusqu'à 12 ans</td>
                        <td class="pricing_type">&nbsp 8 €</td>
                        <td class="pricing_type">4 €</td>
                    </tr>
                    <tr>
                        <td>Sénior</td>
                        <td>A partir de 60 ans</td>
                        <td class="pricing_type">12 €</td>
                        <td class="pricing_type">6 €</td>
                    </tr>
                    <tr>
                        <td title="Un justificatif vous sera demandé lors de votre visite">Réduit<i>*</i></td>
                        <td>Etudiants,militaires, employés du ministère de la culture</td>
                        <td class="pricing_type">10 €</td>
                        <td class="pricing_type">5 €</td>
                    </tr>
                    <tr>
                        <td>Gratuit</td>
                        <td>Enfants de moins de 4 ans</td>
                        <td class="pricing_type">&nbsp----</td>
                        <td class="pricing_type">----</td>
                    </tr>
                </tbody>
            </table>
            <p id="disclaimer">{{ disclaimer }}</p>
        </div>

        <div class="info col-sm-6" id="info_availability">
            <h2 id="availability_title">Vérifier la disponibilité</h2>
            {{ form_start(booking_status_form,{action:path('accueil_billetterie')}) }}
            <div class="form-group">
                {{ form_label(booking_status_form.temp_order_date) }}
                {{ form_widget(booking_status_form.temp_order_date) }}
                <span class="form_errors">{{ form_errors(booking_status_form.temp_order_date) }}</span>
            </div>
            <div class="form-group">
                {{ form_label(booking_status_form.temp_number_of_tickets) }}
                {{ form_widget(booking_status_form.temp_number_of_tickets) }}
                <span class="form_errors">{{ form_errors(booking_status_form.temp_number_of_tickets) }}</span>
            </div>
            <div class="form_btns form-group">
                <button id="test_date" type="submit"  class="btn btn-primary">Tester cette date</button>
                <input type="hidden" id="sold_out" value="{{ app.session.get('sold_out')}}">
                <input type="hidden" id ="tickets_ordered" value="{{ app.session.get('tickets')}}">
                <input type="hidden" id="paid"  value="{{ app.session.get('payment_success')}}">
                {{ form_end(booking_status_form) }}
                    {% if (app.session.get('user_date') != null) and (app.session.get('sold_out') == 0) and (app.session.get('payment_success') == null) %}
                        <a class="btn btn-success" id="link_to_booking" href="{{path('reservation_billetterie')}}">
                           Commander des billets pour le {{ app.session.get('user_date') }}
                        </a>
                    {% endif %}
            </div>
        </div>
{% endblock %}