{% extends "ELBookingBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Payement des billets {% endblock %}

{% block body %}
    <div class="jumbotron" id="banner">
        <img src="{{asset('Images/louvre_banner.jpg')}}">
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="col-sm-6 offset-sm-3 error">{{ flashMessage }}</div>
    {% endfor %}
    <div class="col-sm-12">
        <h1 id="charge_title">Payer {{ app.session.get('total') }} € pour {{ app.session.get('tickets') }} billets</h1>
    </div>
    <div class = "col-sm-4 col stripe_form">
        {{ form_start(stripe_form, {'attr': {'id': 'payment_form'}}) }}
        <div class = "form-group">
            {{ form_label(stripe_form.name) }}
            {{ form_widget(stripe_form.name) }}
            <span class ="form_errors">{{ form_errors(stripe_form.name) }}</span>
        </div >
        <div class = "form-group">
            {{ form_label(stripe_form.surname) }}
            {{ form_widget(stripe_form.surname) }}
            <span class="form_errors">{{ form_errors(stripe_form.surname) }}</span>
        </div>
        <div class = "form-group">
            {{ form_label(stripe_form.email) }}
            {{ form_widget(stripe_form.email) }}
            <span class="form_errors">{{ form_errors(stripe_form.email) }}</span>
        </div>
        <div id="card_data">
            <p id="card_data_title">Informations bancaires</p>
            <div class = "form-group col-sm-6 card_input">
                {{ form_widget(stripe_form.number,{'attr':{'data-stripe':'number'}} ) }}
                <span class="form_errors">{{ form_errors(stripe_form.number) }}</span>
            </div>
            <div class = "form-group col-sm-2"  title='les 3 chiffres au dos de votre carte'>
                {{ form_widget(stripe_form.cvc, {'attr':{'data-stripe':'cvc'}}) }}
                <span class="col-sm-1 form_errors">{{ form_errors(stripe_form.cvc) }} </span>
            </div>
            <div class = "form-group col-sm-2" title="mois d'expiration de la carte">
                {{ form_widget(stripe_form.exp_month, {'attr':{'data-stripe':'exp_month'}}) }}
                <span class="col-sm-1 form_errors">{{ form_errors(stripe_form.exp_month) }}</span>
            </div>
            <div class = "form-group col-sm-2" title="année d'expiration de la carte">
                {{ form_widget(stripe_form.exp_year, {'attr':{'data-stripe':'exp_year'}}) }}
                <span class="col-sm-1 form_errors">{{ form_errors(stripe_form.exp_year) }}</span>
            </div>
        </div>
        <div class = "form-group col-sm-offset-4">
            <button type="submit" class="btn btn-success">Valider et payer</button>
            <span><i id="processing" class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
        </div>
            {{ form_row(stripe_form.stripeToken) }}
        {{ form_end(stripe_form) }}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset("CustomJs/stripeForm.js") }}"></script>
    {% endblock %}
{%  endblock %}
